<?xml version="1.0" encoding="utf-8"?>
<!--
	This file is part of BattleChat

    BattleChat is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BattleChat is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninetwozero.battlechat"
    android:versionCode="9"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BattleChat"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_main" >
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_about" >
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_chat"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings" >
        </activity>

        <service
            android:name=".services.BattleChatService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" />
    </application>

</manifest>